.bgBanner {
  background: url(/images/bg-banner-xs.png) bottom center no-repeat;
  background-size: cover;

  @media (min-width: theme("screens.xs")) {
    background: url(/images/bg-banner.png);
    background-size: cover;
  }
}

.bgServices {
  width: 100%;
  background: url(/images/bg-services-deco.svg) center center no-repeat;
}

.bgStats {
  background: url(/images/bg-stats-deco.svg) 50% 130% no-repeat,
    url(/images/bg-stats.png) center top repeat-x;

  @media (min-width: theme("screens.xs")) {
    background: url(/images/bg-stats-deco.svg) 100% 130% no-repeat,
      url(/images/bg-stats.png) center top repeat-x;
  }
  @media (min-width: theme("screens.lg")) {
    background: url(/images/bg-stats.png) center top repeat-x,
      url(/images/bg-stats-deco.svg) right 100% no-repeat;
  }
}

.slider {
  width: calc(100vw - 64px);
  white-space: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
  @media (min-width: theme("screens.xs")) {
    width: calc(100vw - 160px);
  }
  @media (min-width: theme("screens.md")) {
    width: auto;
  }
}

.videoMobile {
  display: none;
}

.banner {
  height: calc(100vw * (8 / 16));
}

@media (max-width: 768px) {
  .videoMobile {
    display: block;
  }

  .videoDesktop {
    display: none;
  }

  .banner {
    height: 182vw;
  }
}

.cardService {
  width: 140px;
  height: 160px;
  border: 2px solid transparent;
  opacity: 0.5;
  transition: 0.25s;

  @media (min-width: theme("screens.md")) {
    width: auto;
    height: 240px;
  }
}

.cardActive {
  opacity: 1;
  border: 2px solid #5764cd;
  background: url(/images/bg-service-active.svg) center center no-repeat;
}

.cardPartner {
  filter: grayscale(1);
  transition: 0.25s;

  &:hover {
    filter: grayscale(0);

    & > div {
      background: url(/images/bg-partner-hover.svg) center center no-repeat;
    }
  }
}

.cardMultiline {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
