.bgService {
  min-height: 480px;
  background: url(/images/bg-about.png) no-repeat 50%;
  background-size: cover;
}
.bgInfo {
  background: url(/images/bg-about-deco.svg) 50% -25% no-repeat,
    url(/images/bg-stats.png) center top repeat-x;
  @media (min-width: theme("screens.md")) {
    background: url(/images/bg-about-deco.svg) left -400px no-repeat,
      url(/images/bg-stats.png) center top repeat-x;
  }
}
.bgRequest {
  background: url(/images/bg-request-deco.png) center 30% no-repeat;
  // background: url(/images/bg-request-deco.png) center center no-repeat;
}

.inputField {
  width: 100%;
  background: #1a1f27;
  border-radius: 2px;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  padding: 11px 20px;
  & input,
  textarea {
    outline: none;
    width: 100%;
    background: transparent;
  }
}
.serviceList {
  & > div:nth-child(odd) {
    flex-direction: column-reverse;
    @media (min-width: theme("screens.md")) {
      flex-direction: row;
    }
  }
}
